<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>image scrapy</title>
    
</head>
<body>
    <header>
        <div class="navbar">
            <a href="#" class="navbar--active" onclick="changepage('home')" id="defaultOpen">Home</a>
            <a href="#" class="navbar--active" onclick="changepage('bs4')">bs4</a>
            <a href="#" class="navbar--active" onclick="changepage('scrapy')">scrapy</a>
            <a href="#" class="navbar--active" onclick="changepage('curl')">curl</a>
        </div>
    </header>
    
    <main>
            <!-- Home -->
            <div class="container" id="home">
                <div class="search">
                    <h1>Home</h1>
                </div>
                <div class="content">
                    <p>這是用來測試爬蟲的網站</p>
                </div>
            </div>

            <!-- bs4 -->
            <div class="container" id="bs4">
                <div class="search">
                    <h1>bs4</h1>
                    <input id="url_bs4" type="url" placeholder="url">
                    <button type="submit" onclick="geturl(0)">submit</button>
                </div>
                <div class="content">
                    <img id="bs4_img" src="#" alt="image">
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusimg(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusimg(1, 0)">&#10095;</a>
                </div>
            </div>

            <!-- scrapy -->
            <div class="container" id="scrapy">
                <div class="search">
                    <h1>Scrapy</h1>
                    <input id="url_scrapy" type="url" placeholder="url">
                    <button type="submit" onclick="geturl(1)">submit</button>
                </div>
                <div class="content">
                    <img id="scrapy_img" src="#" alt="image">
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusimg(-1, 1)">&#10094;</a>
                    <a class="next" onclick="plusimg(1, 1)">&#10095;</a>
                </div>
            </div>

            <!-- curl -->
            <div class="container" id="curl">
                <div class="search">
                    <h1>curl</h1>
                    <input id="url_curl" type="url">
                    <button type="submit" onclick="geturl(2)">submit</button>
                </div>
                <div class="content">
                    <img id="curl_img" src="#" alt="image">
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusimg(-1, 2)">&#10094;</a>
                    <a class="next" onclick="plusimg(1, 2)">&#10095;</a>
                </div>
            </div>


    </main>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    
</body>
</html>