* {
  box-sizing: border-box; }

html, body {
  background-color: #feed97;
  color: black;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0; }

p {
  font-size: 20px; }

header {
  background-color: #fedd87;
  margin: 0;
  width: 100%;
  height: 15vh; }

.navbar {
  background-color: #fead57;
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
  height: 10vh;
  margin-top: 1vh;
  padding: 0; }
  .navbar--active {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    color: #feed97;
    padding: 1rem;
    transition: all 0.5s ease-out; }
    .navbar--active:hover {
      background-color: #febd67;
      opacity: 0.8; }

main {
  margin-top: 10vh;
  width: 100%;
  height: 75vh;
  padding: 0 15vw; }

.container {
  text-align: center;
  height: 65vh;
  display: none;
  flex-flow: auto;
  transition: all 0.5s ease-out; }
  .container .search {
    width: 100%;
    height: 5vh;
    margin-bottom: 2vh;
    text-align: left; }
    .container .search input {
      float: right;
      width: 25vw; }
    .container .search button {
      float: right;
      padding: 0 1vw;
      margin-right: 1vw;
      text-align: center; }
    .container .search h1 {
      display: inline; }
  .container .content {
    border: 2px solid #febd67;
    background-color: #fedd87;
    opacity: 0.8;
    text-align: center;
    height: 60vh;
    display: block;
    flex-flow: auto; }
    .container .content img {
      max-width: 58vw;
      max-height: 58vh; }

.prev, .next {
  display: inline-table;
  cursor: pointer;
  position: absolute;
  top: 60vh;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  z-index: 1;
  transition: all 0.5s ease-out; }
  .prev:hover, .next:hover {
    background: #febd67;
    opacity: 0.5; }

.next {
  right: 15vw; }
